.nav {
  position: absolute;
  margin-top: -60px;
  z-index: 10;
}
.nav button {
  background: none;
  position: relative;
  border: none;
  width: 177px;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
}
.nav button:disabled {
  cursor: not-allowed;
}
body {
  background-color: black;
  margin-top: 75px;
}
button {
  color: white;
}