.nav {
  position: absolute;
  margin-top: -60px;
  z-index: 10;
  width: 100%;
  height: 50px;
  overflow: hidden;
}
.nav button {
  background: none;
  position: relative;
  border: none;
  width: auto;
  padding: 15px 10px 0 60px;
  font-size: 20px;
  cursor: pointer
}

.nav .connection {
  background: none;
  border: none;
  width: 177px;
  padding: 15px;
  font-size: 20px;
  display: inline-block;
  float: right;
}

.nav button:disabled {
  cursor: not-allowed;
}
.nav button:active:focus {
  outline: none;
}
body {
  background-color: black;
  margin-top: 75px;
}
button {
  color: white;
}