.tile {
  width: 30px;
  height: 30px;
  display: inline-block;
}
.neutral {
  background-color: white;
}
.wall {
  background-color: rgb(11, 82, 113);
}

.rough {
  background-color: grey;
}

.player {
  background-color: #4BBEDB;
}

#grid {
	margin: 100px auto;
}